.places {
  margin: 0 auto;
  max-width: 984px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .places {
    padding: 0 48px 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    margin: o auto;
  }
}


@media screen and (min-width: 426px) and (max-width: 768px) {
  .places {
    max-width: calc(100% - 96px);
    padding-top: 0;
  }
}

@media (max-width: 425px) {
  .places {
    padding: 0 0 14px;
  }
}

/*.places {
  margin: 0 auto 92px;
  max-width: 984px;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .places {
    max-width: calc(100% - 96px);
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .places {
    max-width: 320px;
  }
}

@media (max-width: 320px) {
  .places {
    max-width: calc(100% - 48px);
    margin: 0;
  }
}

/*.places {
  margin: 0 auto;
  max-width: 984px;
  color: #fff;
  padding-top: 92px;
  }

@media (min-width: 769px) and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}
/*
@media (min-width: 320px) and (max-width: 768px) {
  .places {
    max-width: calc(100% - 48px);
    padding-top: 64px;
  }
}

@media (max-width: 320px) {
  .places {
    max-width: calc(100% - 48px);
    padding-top: 64px;
    margin: 0 auto;
  }
}
*/
