.lead__subtitle {
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  max-width: 640px;
  margin: 0 auto 64px;
}


@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .lead__subtitle {
    padding-top: 32px;
  }
}

/*TODO: change font-size on mobile - max width means "no more than" so the styles bellow apply only to the screen < 320px*/


@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    margin: 16px auto 40px;
  }
}
